body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    background: #2D303A;
    border-bottom: 6px solid #323746;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 41px;
    padding-top: 31px;
    padding-bottom: 27px;
    padding-right: 38px;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F2;
    text-transform: uppercase;
    cursor: pointer;
}

.logo__star {
    color: #F06C64;
}

.list {
    display: flex;
    margin-top: 8px;
}

.list__item {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #F2F2F2;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
    margin-top: 9px;
}

.active {
    color: #F06C64;
}

.list__item:hover {
    color: #F06C64;
}

.list__item:last-child {
    margin-right: 0;
}

.list__item:not(:first-child)::before {
    position: absolute;
    background: #F2F2F2;
    width: 3px;
    height: 3px;
    content: '';
    top: 7px;
    left: -17px;
    border-radius: 3px;
}

