.our-services { 
    border-bottom: 6px solid #f2f2f2;
}

.our-services__wrapper {
    padding: 0 40px;
}

.fusce__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
    padding-top: 60px;
    padding-bottom: 20px;
}

.fusce__discription {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    padding-bottom: 34px;
}

.service {
    display: flex;
    flex: 0 0 32%;
    margin: 9px 0px;
    
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 34px;
}

.service__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
    padding-left: 20px;
    padding-bottom: 7px;
}

.service__discription {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
    padding-left: 20px;
    padding-bottom: 20px;
}

.service__img {
    width: 60px;
    height: 60px;
}
