.slider {
    background: #F06C64;
    border-bottom: 6px solid #EA676B;
    display: flex;
    justify-content: center;
    border-bottom: 6px solid #EA676B;
}

.slider__phn-vertical {
    padding-bottom: 57px;
    padding-top: 54px;
    padding-left: 56px;
    padding-right: 73px;
}

.slider__phn-horizontal {
    padding-top: 177px;
    padding-bottom: 177px;
    padding-right: 56px;
}

.slider__arw-left {
    padding-bottom: 284px;
    cursor: pointer;
}

.slider__arw-right {
    padding-bottom: 284px;
    cursor: pointer;
}